
body{
  font-family: 'Roboto', sans-serif;
  width : 100%;
}

h1, h2{
  font-family: 'Merriweather', serif;
}

hr{
  border-top: 10px dotted;
  color: #616a7a;
  width: 100px;
  margin: 1% auto;
}

/* HEADER */
.header-container{
  padding: 3% 15% 5%;
  background-color: #222831;
}

.title-main{
  font-size: 3.5rem;
  color: #00adb5;
}

.title-sub{
  font-size: 1.5rem;
  color: #eeeeee;
}

.navbar{
  padding-left: 0;
  margin-left: 0;
}

.title-image-container{
  text-align: right;
}



.container-fluid{
  background-color: #222831;
}

.header-col-text{
  margin: auto 0 auto 0;
}

.title-image{
  width:80%;
  border-radius: 100%;
}

.header-button{
  margin-top: 1rem;
  margin-right: 1rem;
}

/* About me */

#about-me, #why-me{
  padding: 10% 25%;
  background-color: #eeeeee;
  text-align: center;
}

.lower-section{
  margin-top: 10%;
}

/* What can I do */

#what-can, #find-me{
  padding: 10% 25%;
  background-color: #222831;
  color: #eeeeee;
  text-align: center;
}

.programming-list{
  margin-top: 5%;
  text-align: left;
  color: #eeeeee;
}

/* Why me */
.custom-list{
  margin-top: 5%;
  text-align: left;
  color: #222831;
}
/* Find me */

/* Footer */
#footer{
  padding-top: 20px;
  background-color: #222831;
  color: #eeeeee;
  text-align: center;
}

.copyright{
  margin-bottom: 0;
}

.footer-icon{
  margin-bottom: 3%;
  color: #616a7a;
  padding: 0px 5px;
}

.footer-icon:hover{
  color: #eeeeee;
}

@media (min-width: 992px){
  .nav-link{
    padding-left: 0;
  }
}

@media (max-width: 1028px){
  #title{
  text-align: center;
  }

  .title-image-container{
    margin: 10% 0;
    text-align: center;
  }

  #about-me, #why-me,
  #what-can, #find-me{
    padding: 10% 5%;
  }

}
